<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ИС ГАСТРОЛЁР | Статистика ТЭК | СТАТИСТИКА ПРОВЕРОК</title>
</head>
<body>
<h1>ИС ГАСТРОЛЁР | Статистика ТЭК | СТАТИСТИКА ПРОВЕРОК</h1>

<ul>
    <li>
        <a href="/">Главная</a>
    </li>
    <li>
        <a href="{% url 'vng_stat:index' %}">СПИСОК ПРОВЕРОК</a>
    </li>
    <li>
        <a href="{% url 'vng_stat:stat' %}">СТАТИСТИКА ПРОВЕРОК</a>
    </li>
</ul>

<table border="1">
    <thead>
    <tr>
        <th rowspan="2">
            Округа и территориальные подразделения ОЛРР
        </th>
        <th rowspan="2">
            Запланировано проверок на 2020 год
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты ТЭК подлежащие проверке
        </th>
        <th colspan="2">
            Виды проверок
        </th>
        <th colspan="4">
            Проверка проводилась
        </th>

        <th rowspan="2">
            Январь
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты
        </th>
        <th rowspan="2">
            Февраль
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты
        </th>
        <th rowspan="2">
            Март
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты
        </th>
        <th rowspan="2">
            Апрель
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты
        </th>
        <th rowspan="2">
            Май
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты
        </th>
        <th rowspan="2">
            Июнь
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты
        </th>
        <th rowspan="2">
            Июль
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты
        </th>
        <th rowspan="2">
            Август
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты
        </th>
        <th rowspan="2">
            Сентябрь
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты
        </th>
        <th rowspan="2">
            Октябрь
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты
        </th>
        <th rowspan="2">
            Ноябрь
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты
        </th>
        <th rowspan="2">
            Декабрь
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты
        </th>
        <th rowspan="2">
            Проведено проверок по состоянию на !ДАТА СЕГОДНЯ
        </th>
        <th colspan="3">
            Категория объектов
        </th>
        <th rowspan="2">
            Субъекты ТЭК проверенные на настоящий момент
        </th>
    </tr>
    <tr>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Выездная
        </th>
        <th>
            Документарная
        </th>
        <th>
            не проводилась
        </th>
        <th>
            2019
        </th>
        <th>
            2018
        </th>
        <th>
            более ранее сроки
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>
        <th>
            Высокая
        </th>
        <th>
            Средняя
        </th>
        <th>
            Низкая
        </th>

    </tr>
    </thead>
    <tbody>
    {{ tr | safe }}
    </tbody>
</table>

</body>
</html>