{% extends "base.html" %}
{% load static %}
{% block title %}Система ГК ВНГ РФ{% endblock %}
{% block header %}Система ГК ВНГ РФ{% endblock %}
{% block container %}
  <div class="container col-10">
    <!--begin::Dashboard-->
    <!--begin::Row-->
    <div class="row">
      <!--begin::ТЕЛЕФОННЫЙ СПРАВОЧНИК ГК-->
      <div class="col-xl-2">
        {% include 'phonebook/dash.html' %}
        {% include 'result_report/dash.html' %}
      </div>
      <div class="col-xl-4">
        <div class="row">
          <div class="col-xl-12">
            <!--begin::Nav Panel Widget 3-->
            {% include 'vng_incidents/dash.html' %}
            <!--end::Nav Panel Widget 3-->
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            {% include 'vng_stat/dash.html' %}
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="row">

          <div class="col-xl-12">
            <!--begin::Mixed Widget 10-->
            {% include 'news/news.html' %}
            <!--end::Mixed Widget 10-->
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            <!--begin::Tiles Widget 13-->

            <!--end::Tiles Widget 13-->
            <div class="row">
              <div class="col-xl-6">
                <!--begin::Tiles Widget 11-->

                <!--end::Tiles Widget 11-->
              </div>
              <div class="col-xl-6">
                <!--begin::Tiles Widget 12-->

                <!--end::Tiles Widget 12-->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--end::Row-->
    <!--end::Dashboard-->
  </div>
{% endblock %}