{% load static %}
<div class="card card-custom gutter-b card-stretch">
  <!--begin::Beader-->
  <div class="card-header py-5">
    <h3 class="card-title font-weight-bolder">Статистика инцидентов</h3>

  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body d-flex flex-column">
    <!--begin::Stats-->
    <div class="bg-white flex-grow-1">
      <!--begin::Row-->
      <div class="row row-paddingless">
        <div class="col mr-8">
          <div class="d-flex align-items-center mr-2">
            <!--begin::Symbol-->
            <div class="symbol symbol-45 mr-4 flex-shrink-0">
              <div class="symbol-label">
                <img src="/static/src/media/svg/icons/vng_info/inc_year.svg" class="h-50 align-self-center" alt="">
              </div>
            </div>
            <!--end::Symbol-->
            <!--begin::Title-->
            <div>
              <div class="font-size-sm text-muted font-weight-bold">Всего за год</div>
              <div class="font-size-h4 font-weight-bolder">{{ count_now_year }}</div>
            </div>
            <!--end::Title-->
          </div>
        </div>
        <div class="col">
          <div class="d-flex align-items-center mr-2">
            <!--begin::Symbol-->
            <div class="symbol symbol-45 mr-4 flex-shrink-0">
              <div class="symbol-label">
                <img src="/static/src/media/svg/icons/vng_info/inc_day.svg" class="h-50 align-self-center" alt="">
              </div>
            </div>
            <!--end::Symbol-->
            <!--begin::Title-->
            <div>
              <div class="font-size-sm text-muted font-weight-bold">За последние сутки</div>
              <div class="font-size-h4 font-weight-bolder">{{ count_last_day }}</div>
            </div>
            <!--end::Title-->
          </div>
        </div>
      </div>
      <!--end::Row-->

    </div>
    <div class="row pt-5">
      <div class="col-xl-12">
        <a href="{% url 'vng_incidents:index' %}" class="btn btn-danger btn-shadow-hover font-weight-bolder w-100 py-3">Инциденты</a>
      </div>
    </div>
    <!--end::Stats-->


  </div>
  <!--end::Body-->
</div>