{% extends "base.html" %}
{% load static %}
{% block title %}ИС Гастролёр | Инциденты{% endblock %}
{% block header %}Инциденты{% endblock %}
{% block page_css %}
  <link href="{% static 'dist/assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet"
        type="text/css"/>

{% endblock %}
{% block container %}
  <div class="container col-10">
    <!--begin::Card-->
    <div class="card card-custom">
      <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
          <h3 class="card-label">Сведения о происшествиях
            <span class="d-block text-muted pt-2 font-size-sm"></span></h3>
        </div>

      </div>
      <div class="card-body">
        <!--begin: Search Form-->
        <!--begin::Search Form-->
        {#        <div class="mb-7">#}
        {#          <div class="row align-items-center">#}
        {#            <div class="col-lg-9 col-xl-8">#}
        {#              <div class="row align-items-center">#}
        {#                <div class="col-md-4 my-2 my-md-0 ">#}
        {#                  <div class="input-icon">#}
        {#                    <input type="text" class="form-control" placeholder="Поиск по текстам..."#}
        {#                           id="kt_datatable_search_query">#}
        {#                    <span>#}
        {#																	<i class="flaticon2-search-1 text-muted"></i>#}
        {#																</span>#}
        {#                  </div>#}
        {#                </div>#}
        {#                <div class="col-md-4 my-2 my-md-0">#}
        {#                  <div class="d-flex align-items-center">#}
        {#                    <label class="mr-3 mb-0 d-none d-md-block">Регион:</label>#}
        {#                    <div class="dropdown bootstrap-select form-control dropup">#}
        {#                      <select class="form-control"#}
        {#                              id="kt_datatable_search_region"#}
        {#                              tabindex="null">#}
        {#                        <option value="">Все</option>#}
        {#                        {% for region in regions %}#}
        {#                          <option value="{{ region.name }}">{{ region.name }}</option>#}
        {#                        {% endfor %}#}
        {#                      </select>#}
        {#                      <button type="button" tabindex="-1" class="btn dropdown-toggle btn-light bs-placeholder"#}
        {#                              data-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox"#}
        {#                              aria-expanded="false" data-id="kt_datatable_search_region" title="All">#}
        {#                        <div class="filter-option">#}
        {#                          <div class="filter-option-inner">#}
        {#                            <div class="filter-option-inner-inner">All</div>#}
        {#                          </div>#}
        {#                        </div>#}
        {#                      </button>#}
        {#                      <div class="dropdown-menu" style="max-height: 344.25px; overflow: hidden; min-height: 130px;">#}
        {#                        <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1"#}
        {#                             aria-activedescendant="bs-select-1-0"#}
        {#                             style="max-height: 332.25px; overflow-y: auto; min-height: 118px;">#}
        {#                          <ul class="dropdown-menu inner show" role="presentation"#}
        {#                              style="margin-top: 0px; margin-bottom: 0px;">#}
        {#                            <li class="selected active"><a role="option" class="dropdown-item active selected"#}
        {#                                                           id="bs-select-1-0" tabindex="0" aria-setsize="7"#}
        {#                                                           aria-posinset="1" aria-selected="true"><span#}
        {#                                    class="text">All</span></a></li>#}
        {#                            <li><a role="option" class="dropdown-item" id="bs-select-1-1" tabindex="0" aria-setsize="7"#}
        {#                                   aria-posinset="2"><span class="text">Pending</span></a></li>#}
        {#                            <li class="selected active"><a role="option" class="dropdown-item active selected"#}
        {#                                                           id="bs-select-1-2" tabindex="0" aria-setsize="7"#}
        {#                                                           aria-posinset="3" aria-selected="true"><span class="text">Delivered</span></a>#}
        {#                            </li>#}
        {#                            <li><a role="option" class="dropdown-item" id="bs-select-1-3" tabindex="0"><span#}
        {#                                    class="text">Canceled</span></a></li>#}
        {#                            <li><a role="option" class="dropdown-item" id="bs-select-1-4" tabindex="0"><span#}
        {#                                    class="text">Success</span></a></li>#}
        {#                            <li><a role="option" class="dropdown-item" id="bs-select-1-5" tabindex="0"><span#}
        {#                                    class="text">Info</span></a></li>#}
        {#                            <li><a role="option" class="dropdown-item" id="bs-select-1-6" tabindex="0"><span#}
        {#                                    class="text">Danger</span></a></li>#}
        {#                          </ul>#}
        {#                        </div>#}
        {#                      </div>#}
        {#                    </div>#}
        {#                  </div>#}
        {#                </div>#}
        {#                <div class="col-md-4 my-2 my-md-0">#}
        {#                  <div class="d-flex align-items-center">#}
        {#                    <label class="mr-3 mb-0 d-none d-md-block">Субъект происшествия:</label>#}
        {#                    <div class="dropdown bootstrap-select form-control"><select class="form-control"#}
        {#                                                                                id="kt_datatable_search_subject">#}
        {#                      <option value="">Все</option>#}
        {#                      <option value="Объект ТЭК">Объект ТЭК</option>#}
        {#                      <option value="Ведомственная охрана">Ведомственная охрана</option>#}
        {#                    </select>#}
        {#                      <button type="button" tabindex="-1" class="btn dropdown-toggle btn-light bs-placeholder"#}
        {#                              data-toggle="dropdown" role="combobox" aria-owns="bs-select-2" aria-haspopup="listbox"#}
        {#                              aria-expanded="false" data-id="kt_datatable_search_subject" title="All">#}
        {#                        <div class="filter-option">#}
        {#                          <div class="filter-option-inner">#}
        {#                            <div class="filter-option-inner-inner">All</div>#}
        {#                          </div>#}
        {#                        </div>#}
        {#                      </button>#}
        {#                      <div class="dropdown-menu ">#}
        {#                        <div class="inner show" role="listbox" id="bs-select-2" tabindex="-1">#}
        {#                          <ul class="dropdown-menu inner show" role="presentation"></ul>#}
        {#                        </div>#}
        {#                      </div>#}
        {#                    </div>#}
        {#                  </div>#}
        {#                </div>#}
        {#                <div class="col-lg-12 mb-lg-0 mb-12 pt-3">#}
        {#                  <label>Дата происшествия:</label>#}
        {#                  <div class="input-daterange input-group" id="kt_datepicker">#}
        {#                    <input type="text" class="form-control datatable-input" name="start" placeholder="От"#}
        {#                           data-col-index="8">#}
        {#                    <div class="input-group-append">#}
        {#															<span class="input-group-text">#}
        {#																<i class="la la-ellipsis-h"></i>#}
        {#															</span>#}
        {#                    </div>#}
        {#                    <input type="text" class="form-control datatable-input" name="end" placeholder="До"#}
        {#                           data-col-index="8">#}
        {#                  </div>#}
        {#                </div>#}
        {#              </div>#}
        {#            </div>#}
        {#            <div class="col-lg-3 col-xl-4">#}
        {#              <div class="row ">#}
        {#                <div class="col-md-4 my-2 my-md-0 ">#}
        {#                  <label class="mr-3 mb-0 d-none d-md-block">Всего происшествий за год - {{ count_now_year }}</label>#}
        {#                  <label class="mr-3 mb-0 d-none d-md-block">За последние сутки - {{ count_last_day }} </label>#}
        {#                </div>#}
        {#              </div>#}
        {#            </div>#}
        {##}
        {#          </div>#}
        {#        </div>#}
        <!--end::Search Form-->
        <!--end: Search Form-->
        <!--begin: Datatable-->
        {#        <div class="my_datatable datatable datatable-default datatable-bordered" id="kt_datatable"></div>#}
        <form class="mb-15" _lpchecked="1" method="post" action="{% url 'vng_incidents:incs' %}">
          <div class="row">
            <div class="col-lg-8">
              <div class="row mb-6">
                <div class="col-lg-4 mb-lg-0 mb-6">
                  <label>Номер происшествия:</label>
                  <input type="text" class="form-control datatable-input" placeholder="#" data-col-index="0">
                </div>
                <div class="col-lg-4 mb-lg-0 mb-6">
                  <label>Регион:</label>
                  <select class="form-control datatable-input" data-col-index="2">
                    <option value="">Выберите регион</option>
                    {% for region in regions %}
                      <option value="{{ region.id }}">{{ region.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-lg-4 mb-lg-0 mb-6">
                  <label>Субъект:</label>
                  <select class="form-control datatable-input" data-col-index="4">
                    <option value="">Выберите субъект</option>
                    <option value="Объект ТЭК">Объект ТЭК</option>
                    <option value="Ведомственная охрана">Ведомственная охрана</option>
                  </select>
                </div>

              </div>
              <div class="row mb-8">
                <div class="col-lg-4 mb-lg-0 mb-6">
                  <label>Дата происшествия:</label>
                  <div class="input-daterange input-group" id="kt_datepicker">
                    <input type="text" class="form-control datatable-input" name="start" placeholder="От"
                           data-col-index="5">
                    <div class="input-group-append">
															<span class="input-group-text">
																<i class="la la-ellipsis-h"></i>
															</span>
                    </div>
                    <input type="text" class="form-control datatable-input" name="end" placeholder="До"
                           data-col-index="5">
                  </div>
                </div>
                <div class="col-lg-4 mb-lg-0 mb-6">
                  <label>Источник:</label>
                  <select class="form-control datatable-input" data-col-index="6">
                    <option value="">Выберите источник</option>
                    <option value="СМИ">СМИ</option>
                    <option value="Доклад тер. подр.">Доклад тер. подр.</option>
                  </select>
                </div>
              </div>
              <div class="row mt-8">
                <div class="col-lg-12">
                  <button class="btn btn-primary btn-primary--icon" id="kt_search">
													<span>
														<i class="la la-search"></i>
														<span>Поиск</span>
													</span>
                  </button>&nbsp;&nbsp;
                  <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
													<span>
														<i class="la la-close"></i>
														<span>Сброс</span>
													</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row row-paddingless">
                <div class="col mr-8">
                  <label>Происшествий за год</label>
                  <div class="font-size-h4 font-weight-bolder">{{ count_now_year }}</div>
                </div>
                <div class="col">
                  <label>Происшествий за сутки</label>
                  <div class="font-size-h4 font-weight-bolder">{{ count_last_day }}</div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-hover table-checkable dataTable dtr-inline" id="kt_datatable"
                     role="grid" aria-describedby="kt_datatable_info" style="width: 1230px;">
                <thead>
                <tr role="row">
                  <th tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1"
                      style="width: 30px;" aria-label="Record ID: activate to sort column descending"
                      aria-sort="ascending">#
                  </th>
                  <th tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1"
                      style="width: 80px;" aria-label="Order ID: activate to sort column ascending">Дата происшествия
                  </th>
                  <th tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1"
                      style="width: 120px;" aria-label="Country: activate to sort column ascending">Регион
                  </th>
                  <th tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1"
                      style="width: 60px;" aria-label="Ship City: activate to sort column ascending">Источник
                  </th>
                  <th tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1"
                      style="width: 100px;" aria-label="Company Agent: activate to sort column ascending">Субъект
                  </th>
                  <th tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1"
                      style="width: 250px;" aria-label="Ship Date: activate to sort column ascending">Фабула происшествия
                  </th>
                  <th tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1"
                      style="width: 250px;" aria-label="Status: activate to sort column ascending">Результат
                  </th>
                  <th tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1"
                      style="width: 250px;" aria-label="Type: activate to sort column ascending">Примечание
                  </th>

                </tr>
                </thead>
              </table>
              <div id="kt_datatable_processing" class="dataTables_processing card" style="display: none;">
                Processing...
              </div>
            </div>
          </div>

        </div>
        <!--end: Datatable-->
      </div>
    </div>
    <!--end::Card-->
  </div>
{% endblock %}
{% block page_script %}
  <script src="{% static 'dist/assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
  {#  <script src="{% static 'dist/assets/js/pages/crud/ktdatatable/base/data-json-inc.js' %}"></script>#}
  <script src="{% static 'dist/assets/js/pages/crud/datatables/search-options/advanced-search.js' %}"></script>
{% endblock %}
