{% load static %}
<div class="card card-custom gutter-b">
  <!--begin::Beader-->
  <div class="card-header py-5">
    <h3 class="card-title font-weight-bolder">Статистика ВНГ</h3>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body d-flex flex-column">
    <!--begin::Stats-->
    <div class="bg-white flex-grow-1">
      <!--begin::Row-->
      <form method="post">
        {% csrf_token %}
        <div class="form-group">

          <div class="form-group m-0">
            <label>Выберите глубину отчета:</label>
            <div class="row">
              <div class="col-lg-12">
                <label class="option">
      <span class="option-control">
       <span class="radio">
        <input type="radio" {% if select_stat == 1 %}checked="checked"{% endif %}name="select_stat" value="1"/>
        <span></span>
       </span>
      </span>
                  <span class="option-label">
       <span class="option-head">
        <span class="option-title">
         Россия
        </span>
       </span>
       <span class="option-body">
        Статистика по всей стране
       </span>
      </span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label class="option">
      <span class="option-control">
       <span class="radio">
        <input type="radio" {% if select_stat == 2 %}checked="checked"{% endif %}name="select_stat" value="2"/>
        <span></span>
       </span>
      </span>
                  <span class="option-label">
       <span class="option-head">
        <span class="option-title">
         Округ
        </span>
       </span>
       <span class="option-body">
        Статистика по выбранному федеральному округу
         <select class="form-control select2" id="kt_select2_1" name="fed_region_id">
            {% for fed_region in fed_regions %}
              <option {% if fed_region.id == select_fed_region_id %}selected{% endif %}
                      value="{{ fed_region.id }}">
                {{ fed_region.name }}
              </option>
            {% endfor %}
          </select>
       </span>
      </span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <label class="option">
      <span class="option-control">
       <span class="radio">
        <input type="radio" {% if select_stat == 3 %}checked="checked"{% endif %} name="select_stat" value="3"/>
        <span></span>
       </span>
      </span>
                <span class="option-label">
       <span class="option-head">
        <span class="option-title">
         Регион
        </span>
       </span>
       <span class="option-body">
        Статистика по выбранному региону

          <select class="form-control select2" id="kt_select2_2" name="region_id">
            {% for region in regions %}
              <option {% if region.id == select_region_id %}selected{% endif %}
                      value="{{ region.id }}">
                {{ region.name }}
              </option>
            {% endfor %}
          </select>
       </span>
      </span>
              </label>
            </div>
          </div>
        </div>
        <div class="">
          <button type="submit" class="btn btn-primary mr-2">Показать</button>
        </div>


      </form>
      <!--end::Row-->
      <!--begin::Row-->
      <!--end::Row-->
    </div>
    <!--end::Stats-->
  </div>
  <!--end::Body-->
</div>
{% if info != "" %}
  <div class="card card-custom gutter-b">
    <div class="card-header py-5">
      <h3 class="card-title font-weight-bolder"> {{ select_region_name }}{{ select_fed_region_name }}</h3>
    </div>
    <div class="card-body d-flex flex-column">
      <div class="bg-white flex-grow-1">
        <h5 class="card-title font-weight-bolder text-center">ТЭК:</h5>
        <div class="row">

          <div class="col">
            <div class="d-flex align-items-center mr-2">
            <!--begin::Symbol-->
            <div class="symbol symbol-45 mr-4 flex-shrink-0">
              <div class="symbol-label">
                <img src="/static/src/media/svg/icons/vng_info/tek_high.svg" class="h-50 align-self-center" alt="">
              </div>
            </div>
            <!--end::Symbol-->
            <!--begin::Title-->
            <div>
              <div class="font-size-sm text-muted font-weight-bold">Высокая</div>
              <div class="font-size-h4 font-weight-bolder">{% if info.tek_high is not None %}{{ info.tek_high }}{% else %}0{% endif %}</div>
            </div>
            <!--end::Title-->
          </div>
          </div>
          <div class="col">
            <div class="d-flex align-items-center mr-2">
            <!--begin::Symbol-->
            <div class="symbol symbol-45 mr-4 flex-shrink-0">
              <div class="symbol-label">
                <img src="/static/src/media/svg/icons/vng_info/tek_mid.svg" class="h-50 align-self-center" alt="">
              </div>
            </div>
            <!--end::Symbol-->
            <!--begin::Title-->
            <div>
              <div class="font-size-sm text-muted font-weight-bold">Средняя</div>
              <div class="font-size-h4 font-weight-bolder">{% if info.tek_mid is not None %}{{ info.tek_mid }}{% else %}0{% endif %}</div>
            </div>
            <!--end::Title-->
          </div>
          </div>
          <div class="col">
            <div class="d-flex align-items-center mr-2">
            <!--begin::Symbol-->
            <div class="symbol symbol-45 mr-4 flex-shrink-0">
              <div class="symbol-label">
                <img src="/static/src/media/svg/icons/vng_info/tek_low.svg" class="h-50 align-self-center" alt="">
              </div>
            </div>
            <!--end::Symbol-->
            <!--begin::Title-->
            <div>
              <div class="font-size-sm text-muted font-weight-bold">Низкая</div>
              <div class="font-size-h4 font-weight-bolder">{% if info.tek_low is not None %}{{ info.tek_low }}{% else %}0{% endif %}</div>
            </div>
            <!--end::Title-->
          </div>
          </div>
        </div>
        <!--end::Row-->
        <!--begin::Row-->
        <div class="separator separator-solid separator-border-2 separator-primary pt-3"></div>
        <h5 class="card-title font-weight-bolder text-center pt-5">ВО:</h5>
        <div class="row row-cols-1">
          <div class="col-12">
            <div class="d-flex align-items-center flex-wrap mb-8">
              <!--begin::Symbol-->
              <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/vo_deps_all.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
              </div>
              <!--end::Symbol-->
              <!--begin::Text-->
              <div class="d-flex flex-column flex-grow-1 mr-2">
                <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Подразделения
                  охраны
                </div>
                <span class="text-muted font-weight-bold">(всего)</span>
              </div>
              <!--end::Text-->
              <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ info.vo_deps_foiv|add:info.vo_deps_ul|add:info.vo_deps_ul_special }}</span>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-center flex-wrap mb-8">
              <!--begin::Symbol-->
              <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/vo_deps.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
              </div>
              <!--end::Symbol-->
              <!--begin::Text-->
              <div class="d-flex flex-column flex-grow-1 mr-2">
                <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Ведомственная
                  охрана
                </div>
                <span class="text-muted font-weight-bold">{% if info.vo_deps_foiv is not None %}({{ info.vo_deps_foiv }}{% else %}0{% endif %} - ФОИВ, {% if info.vo_deps_ul is not None %}{{ info.vo_deps_ul }}{% else %}0{% endif %} -
              организаций)</span>
              </div>
              <!--end::Text-->
              <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ info.vo_deps_foiv|add:info.vo_deps_ul }}</span>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-center flex-wrap mb-8">
              <!--begin::Symbol-->
              <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/vo_deps_ul.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
              </div>
              <!--end::Symbol-->
              <!--begin::Text-->
              <div class="d-flex flex-column flex-grow-1 mr-2">
                <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Юридические лица
                </div>
                <span class="text-muted font-weight-bold">с особыми уставными задачами</span>
              </div>
              <!--end::Text-->
              <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{% if info.vo_deps_ul_special is not None %}{{ info.vo_deps_ul_special }}{% else %}0{% endif %}</span>
            </div>
          </div>
        </div>
        <div class="separator separator-dashed separator-border-2 separator-primary pt-3"></div>
        <div class="row row-cols-1 pt-3">
          <div class="col-12">
            <div class="d-flex align-items-center flex-wrap mb-8">
              <!--begin::Symbol-->
              <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/vo_pers_all.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
              </div>
              <!--end::Symbol-->
              <!--begin::Text-->
              <div class="d-flex flex-column flex-grow-1 mr-2">
                <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Численность</div>
                <span class="text-muted font-weight-bold">(список)</span>
              </div>
              <!--end::Text-->
              <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ info.vo_pers_vo|add:info.vo_pers_special }}</span>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-center flex-wrap mb-8">
              <!--begin::Symbol-->
              <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/vo_pers.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
              </div>
              <!--end::Symbol-->
              <!--begin::Text-->
              <div class="d-flex flex-column flex-grow-1 mr-2">
                <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Ведомственная
                  охрана</div>
              </div>
              <!--end::Text-->
              <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{% if info.vo_pers_vo is not None %}{{ info.vo_pers_vo }}{% else %}0{% endif %}</span>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-center flex-wrap mb-8">
              <!--begin::Symbol-->
              <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/vo_pers_ul.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
              </div>
              <!--end::Symbol-->
              <!--begin::Text-->
              <div class="d-flex flex-column flex-grow-1 mr-2">
                <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Юридические
                  лица</div>
                <span class="text-muted font-weight-bold">с особыми уставными задачами</span>
              </div>
              <!--end::Text-->
              <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{% if info.vo_pers_special is not None %}{{ info.vo_pers_special }}{% else %}0{% endif %}</span>
            </div>
          </div>

        </div>
        <div class="separator separator-dashed separator-border-2 separator-primary pt-3"></div>
        <div class="row row-cols-1 pt-3">
            <div class="col-12">
              <div class="d-flex align-items-center flex-wrap mb-8">
													<!--begin::Symbol-->
													<div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/vo_obj_all.svg' %}" class="h-50 align-self-center" alt="">
														</span>
													</div>
													<!--end::Symbol-->
													<!--begin::Text-->
													<div class="d-flex flex-column flex-grow-1 mr-2">
														<div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Охраняется объектов</div>
														<span class="text-muted font-weight-bold">(всего)</span>
													</div>
													<!--end::Text-->
													<span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ info.vo_obj_vo|add:info.vo_obj_special }}</span>
												</div>
            </div>
            <div class="col-12">
              <div class="d-flex align-items-center flex-wrap mb-8">
													<!--begin::Symbol-->
													<div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/vo_obj.svg' %}" class="h-50 align-self-center" alt="">
														</span>
													</div>
													<!--end::Symbol-->
													<!--begin::Text-->
													<div class="d-flex flex-column flex-grow-1 mr-2">
														<div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Ведомственная охрана</div>
													</div>
													<!--end::Text-->
													<span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{% if info.vo_obj_vo is not None %}{{ info.vo_obj_vo }}{% else %}0{% endif %}</span>
												</div>
            </div>
            <div class="col-12">
              <div class="d-flex align-items-center flex-wrap mb-8">
													<!--begin::Symbol-->
													<div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/vo_obj_ul.svg' %}" class="h-50 align-self-center" alt="">
														</span>
													</div>
													<!--end::Symbol-->
													<!--begin::Text-->
													<div class="d-flex flex-column flex-grow-1 mr-2">
														<div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Юридические лица</div>
														<span class="text-muted font-weight-bold">с особыми уставными задачами</span>
													</div>
													<!--end::Text-->
													<span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{% if info.vo_obj_special is not None %}{{ info.vo_obj_special }}{% else %}0{% endif %}</span>
												</div>
            </div>
        </div>
        <div class="separator separator-dashed separator-border-2 separator-primary pt-3"></div>
        <div class="row row-cols-1 pt-3">
            <div class="col-12">
              <div class="d-flex align-items-center flex-wrap mb-8">
													<!--begin::Symbol-->
													<div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/gun_all.svg' %}" class="h-50 align-self-center" alt="">
														</span>
													</div>
													<!--end::Symbol-->
													<!--begin::Text-->
													<div class="d-flex flex-column flex-grow-1 mr-2">
														<div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Оружия у них</div>
														<span class="text-muted font-weight-bold">(всего)</span>
													</div>
													<!--end::Text-->
													<span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ info.vo_guns_army|add:info.vo_guns_work|add:info.vo_guns_civil|add:info.vo_guns_study }}</span>
												</div>
            </div>
            <div class="col-12">
              <div class="d-flex align-items-center flex-wrap mb-8">
													<!--begin::Symbol-->
													<div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/gun_army.svg' %}" class="h-50 align-self-center" alt="">
														</span>
													</div>
													<!--end::Symbol-->
													<!--begin::Text-->
													<div class="d-flex flex-column flex-grow-1 mr-2">
														<div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Боевого</div>
													</div>
													<!--end::Text-->
													<span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{% if info.vo_guns_army is not None %}{{ info.vo_guns_army }}{% else %}0{% endif %}</span>
												</div>
            </div>
            <div class="col-12">
              <div class="d-flex align-items-center flex-wrap mb-8">
													<!--begin::Symbol-->
													<div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/gun_work.svg' %}" class="h-50 align-self-center" alt="">
														</span>
													</div>
													<!--end::Symbol-->
													<!--begin::Text-->
													<div class="d-flex flex-column flex-grow-1 mr-2">
														<div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Служебного</div>
													</div>
													<!--end::Text-->
													<span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{% if info.vo_guns_work is not None %}{{ info.vo_guns_work }}{% else %}0{% endif %}</span>
												</div>
            </div>
            <div class="col-12">
              <div class="d-flex align-items-center flex-wrap mb-8">
													<!--begin::Symbol-->
													<div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/gun_civil.svg' %}" class="h-50 align-self-center" alt="">
														</span>
													</div>
													<!--end::Symbol-->
													<!--begin::Text-->
													<div class="d-flex flex-column flex-grow-1 mr-2">
														<div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Гражданского</div>
													</div>
													<!--end::Text-->
													<span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{% if info.vo_guns_civil is not None %}{{ info.vo_guns_civil }}{% else %}0{% endif %}</span>
												</div>
            </div>
            <div class="col-12">
              <div class="d-flex align-items-center flex-wrap mb-8">
													<!--begin::Symbol-->
													<div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/gun_study.svg' %}" class="h-50 align-self-center" alt="">
														</span>
													</div>
													<!--end::Symbol-->
													<!--begin::Text-->
													<div class="d-flex flex-column flex-grow-1 mr-2">
														<div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Учебного</div>
													</div>
													<!--end::Text-->
													<span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{% if info.vo_guns_study is not None %}{{ info.vo_guns_study }}{% else %}0{% endif %}</span>
												</div>
            </div>
        </div>

      </div>
    </div>
  </div>
{% endif %}