{% extends "base.html" %}
{% load static %}
{% block title %}ИС Компас{% endblock %}
{% block header %}Штатка по регионам{% endblock %}
{% block page_css %}
  <link href="{% static 'dist/assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet"
        type="text/css"/>
{% endblock %}
{% block container %}
  <div class="container col-10">
    <div class="row">
      <div class="col-xl-3">
        <div class="card card-custom">
          <!--begin::Beader-->
          <div class="card-header py-5">
            <h3 class="card-title font-weight-bolder">Выберите регион</h3>
          </div>
          <!--end::Header-->
          <!--begin::Body-->
          <div class="card-body d-flex flex-column">
            <!--begin::Stats-->
            <div class="bg-white flex-grow-1">
              <!--begin::Row-->
              <form method="post">
                {% csrf_token %}
                <div class="form-group">

                  <div class="form-group m-0">

                    <div class="row">
                      <div class="col-lg-12">
                        <label class="option">
      <span class="option-control">
       <span class="radio">
        <input type="radio" {% if select_stat == 1 %}checked="checked"{% endif %}name="select_stat" value="1"/>
        <span></span>
       </span>
      </span>
                          <span class="option-label">
       <span class="option-head">
        <span class="option-title">
         Россия
        </span>
       </span>
       <span class="option-body">
{#        Статистика по всей стране#}
       </span>
      </span>
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <label class="option">
      <span class="option-control">
       <span class="radio">
        <input type="radio" {% if select_stat == 2 %}checked="checked"{% endif %}name="select_stat" value="2"/>
        <span></span>
       </span>
      </span>
                          <span class="option-label">
       <span class="option-head">
        <span class="option-title">
         Округ
        </span>
       </span>
       <span class="option-body">
{#        Статистика по выбранному федеральному округу#}
         <select class="form-control select2" id="kt_select2_1" name="fed_region_id">
            {% for fed_region in fed_regions %}
              <option {% if fed_region.id == select_fed_region_id %}selected{% endif %}
                      value="{{ fed_region.id }}">
                {{ fed_region.name }}
              </option>
            {% endfor %}
          </select>
       </span>
      </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <label class="option">
      <span class="option-control">
       <span class="radio">
        <input type="radio" {% if select_stat == 3 %}checked="checked"{% endif %} name="select_stat" value="3"/>
        <span></span>
       </span>
      </span>
                        <span class="option-label">
       <span class="option-head">
        <span class="option-title">
         Регион
        </span>
       </span>
       <span class="option-body">
{#        Статистика по выбранному региону#}

          <select class="form-control select2" id="kt_select2_2" name="region_id">
            {% for region in regions %}
              <option {% if region.id == select_region_id %}selected{% endif %}
                      value="{{ region.id }}">
                {{ region.name }}
              </option>
            {% endfor %}
          </select>
       </span>
      </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="">
                  <button type="submit" class="btn btn-primary mr-2 col-12">Показать</button>
                </div>


              </form>
              <!--end::Row-->
              <!--begin::Row-->
              <!--end::Row-->
            </div>
            <!--end::Stats-->
          </div>
          <!--end::Body-->
        </div>
      </div>
      {% if info != "" %}
        <div class="col-xl-9">
          <div class="card card-custom">
            <div class="card-header py-5">
              <h3 class="card-title font-weight-bolder"> {{ select_region_name }}{{ select_fed_region_name }}</h3>
            </div>
            <div class="card-body d-flex flex-column">
              <div class="bg-white flex-grow-1">
                <h5 class="card-title font-weight-bolder text-center">Штатная численность</h5>
                <div class="row">
                  <div class="col-xl-6">
                    <div class="row row-cols-1 pt-3">
                      <div class="col-12">
                        <div class="d-flex align-items-center flex-wrap mb-8">
                          <!--begin::Symbol-->
                          <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/gk.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                          </div>
                          <!--end::Symbol-->
                          <!--begin::Text-->
                          <div class="d-flex flex-column flex-grow-1 mr-2">
                            <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                              Количество подразделений ГК
                            </div>
                          </div>
                          <!--end::Text-->
                          <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_deps_gk }}</span>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="d-flex align-items-center flex-wrap mb-8">
                          <!--begin::Symbol-->
                          <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/otdel.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                          </div>
                          <!--end::Symbol-->
                          <!--begin::Text-->
                          <div class="d-flex flex-column flex-grow-1 mr-2">
                            <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                              Отделов
                            </div>
                          </div>
                          <!--end::Text-->
                          <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_deps_type_2 }}</span>
                        </div>
                      </div>
                      {% if count_deps_type_3 != 0 %}
                        <div class="col-12">
                          <div class="d-flex align-items-center flex-wrap mb-8">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/otdelenie.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                              <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                                Отделений
                              </div>
                            </div>
                            <!--end::Text-->
                            <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_deps_type_3 }}</span>
                          </div>
                        </div>
                      {% endif %}
                      {% if count_deps_type_4 != 0 %}
                        <div class="col-12">
                          <div class="d-flex align-items-center flex-wrap mb-8">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/group.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                              <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                                Групп
                              </div>
                            </div>
                            <!--end::Text-->
                            <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_deps_type_4 }}</span>
                          </div>
                        </div>
                      {% endif %}
                      <div class="col-12">
                        <div class="d-flex align-items-center flex-wrap mb-8">
                          <!--begin::Symbol-->
                          <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/shtat.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                          </div>
                          <!--end::Symbol-->
                          <!--begin::Text-->
                          <div class="d-flex flex-column flex-grow-1 mr-2">
                            <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                              Штатная численность
                            </div>
                          </div>
                          <!--end::Text-->
                          <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_pers_plan }}</span>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="d-flex align-items-center flex-wrap mb-8">
                          <!--begin::Symbol-->
                          <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/spisok.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                          </div>
                          <!--end::Symbol-->
                          <!--begin::Text-->
                          <div class="d-flex flex-column flex-grow-1 mr-2">
                            <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                              Списочная численность
                            </div>
                          </div>
                          <!--end::Text-->
                          <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_pers_fact }}</span>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="d-flex align-items-center flex-wrap mb-8">
                          <!--begin::Symbol-->
                          <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/nekomplect.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                          </div>
                          <!--end::Symbol-->
                          <!--begin::Text-->
                          <div class="d-flex flex-column flex-grow-1 mr-2">
                            <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                              Некомплект
                            </div>
                            <span class="text-muted font-weight-bold">{{ count_pers_result }}</span>
                          </div>
                          <!--end::Text-->
                          <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_pers_result_percent }} %</span>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="row row-cols-1 pt-3">
                      {% if count_pers_work != 0 %}
                        <div class="col-12">
                          <div class="d-flex align-items-center flex-wrap mb-8">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/na_slujbe.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                              <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                                На службе
                              </div>
                            </div>
                            <!--end::Text-->
                            <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_pers_work }}</span>
                          </div>
                        </div>
                      {% endif %}
                      {% if count_pers_ill != 0 %}
                        <div class="col-12">
                          <div class="d-flex align-items-center flex-wrap mb-8">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/bolen.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                              <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                                Болен
                              </div>
                            </div>
                            <!--end::Text-->
                            <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_pers_ill }}</span>
                          </div>
                        </div>
                      {% endif %}
                      {% if count_pers_travel != 0 %}
                        <div class="col-12">
                          <div class="d-flex align-items-center flex-wrap mb-8">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/komandirovka.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                              <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                                Коммандировка
                              </div>
                            </div>
                            <!--end::Text-->
                            <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_pers_travel }}</span>
                          </div>
                        </div>
                      {% endif %}
                      {% if count_pers_holiday != 0 %}
                        <div class="col-12">
                          <div class="d-flex align-items-center flex-wrap mb-8">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/otpusk.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                              <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                                Отпуск
                              </div>
                            </div>
                            <!--end::Text-->
                            <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_pers_holiday }}</span>
                          </div>
                        </div>
                      {% endif %}
                      {% if count_pers_pregnant != 0 %}
                        <div class="col-12">
                          <div class="d-flex align-items-center flex-wrap mb-8">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/beremennost.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                              <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                                Декрет
                              </div>
                            </div>
                            <!--end::Text-->
                            <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_pers_pregnant }}</span>
                          </div>
                        </div>
                      {% endif %}
                      {% if count_pers_study != 0 %}

                        <div class="col-12">
                          <div class="d-flex align-items-center flex-wrap mb-8">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/study.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                              <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                                Учёба
                              </div>
                            </div>
                            <!--end::Text-->
                            <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_pers_study }}</span>
                          </div>
                        </div>
                      {% endif %}
                      {% if count_pers_foreign != 0 %}
                        <div class="col-12">
                          <div class="d-flex align-items-center flex-wrap mb-8">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="{% static 'src/media/svg/icons/vng_info/foreign.svg' %}"
                                   class="h-50 align-self-center" alt="">
														</span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                              <div href="" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                                Откоммандирован
                              </div>
                            </div>
                            <!--end::Text-->
                            <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">{{ count_pers_foreign }}</span>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block page_script %}
  <script src="{% static 'dist/assets/js/pages/crud/forms/widgets/select2.js' %}"></script>
{% endblock %}